@import '../../../styleVariables/styleVariables.scss';

.input {
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #C9CACC;
	border-radius: 4px;
	color: $mainColor;
	height: 50px;
	padding: 0 15px;
	font-size: 18px;
	transition: all 0.3s ease 0s;
}