@import '../../styleVariables/styleVariables.scss';

.wrapper {
	background-color: $backgroundColor;
	min-height: 100vh;
}

.container {
	max-width: 1080px;
	padding: 0 15px;
	margin: 0 auto;
	display: grid;
	grid-template: auto auto / 360px 1fr;
	column-gap: 24px;
}

.leftBlock {
	display: grid;
	grid-template: auto / 360px;
	row-gap: 24px;
}

.rightBlock {
	grid-row: span 2;
}